<center><img width="25%" src="https://www.camaramirimdoce.sc.gov.br/media/noticia/resumo-da-sessao-10-06-2019-111.png?w=848&h=450&t=P&c=f0f0f0&q=80&v=2"></center>

---

<br>

# Códigos - Atualização de um banco de dados com Python, Pandas e SQL 

<br>

In [23]:
import pandas as pd
from sqlalchemy import create_engine
import yfinance as yf

In [24]:
# O mecanismo é o ponto de partida para qualquer aplicativo SQLAlchemy. 
# É a “base inicial” para o banco de dados real e seu DBAPI, entregue ao aplicativo SQLAlchemy por meio de um pool de conexão e um dialeto, 
# que descreve como se comunicar com um tipo específico de combinação de banco de dados/DBAPI.
mecanismo = create_engine('sqlite:///TEST_DB.db')

## Dialetos: 
#### - PostgreSQL = create_engine("postgresql://scott:tiger@localhost/mydatabase")
#### - MySQL = create_engine("mysql://scott:tiger@localhost/foo")
#### - Oracle = create_engine("oracle://scott:tiger@127.0.0.1:1521/sidname")
#### - SQLServer = engine = create_engine("mssql+pyodbc://scott:tiger@mydsn")
#### - SQLite = engine = create_engine("sqlite:///foo.db")
> https://docs.sqlalchemy.org/en/14/core/engines.html?ref=morioh.com&utm_source=morioh.com

In [25]:
# Importando as informações de 2022 das ações da Apple Inc. (AAPL) contidas no Yahoo Finance
# Armazenando num Dataframe
df = yf.download('AAPL', start='2022-01-01', end='2022-12-31')

[*********************100%***********************]  1 of 1 completed

In [26]:
# Importando as informações da Apple para o Banco de dados TEST_DB e armazenando na tabela "AAPL"
df.to_sql('AAPL', mecanismo)

251

In [27]:
# Lendo a tabela AAPL toda
pd.read_sql('AAPL', mecanismo)

# pd.read_sql('SELECT MAX(DATE) FROM AAPL', mecanismo) >>> Lendo apenas na coluna de data, a data mais atiga, da tabela AAPL
# max_data = pd.read_sql('SELECT MAX(DATE) FROM AAPL', mecanismo).values[0][0] >>> Atribuindo na variavel max_data a ultima data da tabela
# df[df.index > max_data].to_sql('AAPL', mecanismo, if_exists='append') >>> Verificando se a ultima data da tabela é igual a data contida no Yahoo Finance das ações da Apple

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-01-03,177.830002,182.880005,177.710007,182.009995,180.683868,104487900
1,2022-01-04,182.630005,182.940002,179.119995,179.699997,178.390701,99310400
2,2022-01-05,179.610001,180.169998,174.639999,174.919998,173.645523,94537600
3,2022-01-06,172.699997,175.300003,171.639999,172.000000,170.746811,96904000
4,2022-01-07,172.889999,174.139999,171.029999,172.169998,170.915573,86709100
...,...,...,...,...,...,...,...
246,2022-12-23,130.919998,132.419998,129.639999,131.860001,131.658981,63814900
247,2022-12-27,131.380005,131.410004,128.720001,130.029999,129.831772,69007800
248,2022-12-28,129.669998,131.029999,125.870003,126.040001,125.847855,85438400
249,2022-12-29,127.989998,130.479996,127.730003,129.610001,129.412415,75703700
250,2022-12-30,128.410004,129.949997,127.430000,129.929993,129.731918,77034200

In [29]:
# Criação da função importador_sql que atualizará o banco de dados conforme novas datas sejam adicionadas no Yahoo Finance das ações da Apple
def importador_sql(df_dados, tabela):
    max_data = pd.read_sql(f'SELECT MAX(DATE) FROM {tabela}', mecanismo).values[0][0] # Verificando qual é a data mais recente na tabela do banco de dados
    print(max_data)
    novas_linhas = df_dados[df_dados.index > max_data] # Verificando se a data mais recente da tabela é menor que a data importada do Yahoo finance no df  
    novas_linhas.to_sql(tabela, mecanismo, if_exists='append') # Adicionando linhas novas no banco de dados, caso tenha novas datas
    print(str(len(novas_linhas)) + ' novas linhas importadas para o banco de dados.')

In [30]:
# Utilizando a função criada 
importador_sql(df,'AAPL')

2022-12-30 00:00:00.000000
0 novas linhas importadas para o banco de dados.

In [31]:
# Editando a função para que a mesma possa ser utilizada em várias ações automaticamente
def importador_sql(sigla):
    max_data = pd.read_sql(f'SELECT MAX(DATE) FROM {sigla}', mecanismo).values[0][0]
    print(max_data)
    df_nova_data = yf.download(sigla, start=pd.to_datetime(max_data)) # Criando um dataFrame com as informações contidas no Yahoo Finance, utilizando a data mais recente como início
    novas_linhas = df_nova_data[df_nova_data.index > max_data] # Verificando se a data mais recente da tabela é menor que a data importada do Yahoo finance no df  
    novas_linhas.to_sql(sigla, mecanismo, if_exists='append') # Adicionando linhas novas no banco de dados, caso tenha novas datas
    print(str(len(novas_linhas)) + ' novas linhas importadas para o banco de dados.')

In [32]:
# Utilizando a função criada 
importador_sql('AAPL')

2022-12-30 00:00:00.000000
[*********************100%***********************]  1 of 1 completed
64 novas linhas importadas para o banco de dados.

In [33]:
# Editando a função para que a mesma possa ser utilizada em várias ações automaticamente e seja criado uma tabela no banco de dados para cada ação novo
def importador_sql(sigla, inicia='2022-01-01'):
    try: 
        max_data = pd.read_sql(f'SELECT MAX(DATE) FROM {sigla}', mecanismo).values[0][0]
        print(max_data)
        df_nova_data = yf.download(sigla, start=pd.to_datetime(max_data))
        novas_linhas = df_nova_data[df_nova_data.index > max_data]
        novas_linhas.to_sql(sigla, mecanismo, if_exists='append')
        print(str(len(novas_linhas)) + ' novas linhas importadas para o banco de dados.')
    except:
        df_nova_data = yf.download(sigla, start=inicia) # Criando um dataFrame com as informações contidas no Yahoo Finance, utilizando a data 01/01/2022 como início
        df_nova_data.to_sql(sigla, mecanismo) # Importando as informações para o Banco de dados TEST_DB e armazenando a tabela
        print(f'Nova tabela criada para sigla {sigla} com {str(len(df_nova_data))} linhas.')

In [34]:
importador_sql('TSLA')

[*********************100%***********************]  1 of 1 completed
Nova tabela criada para sigla TSLA com 315 linhas.

In [35]:
# Importando as informações de 2022 das ações listadas abaixo contidas no Yahoo Finance e adicionando no banco de daddos TEST_DB
lista_acoes = ['TSLA', 'GOOG', 'MMM', 'AAPL']

for acao in lista_acoes:
    importador_sql(acao)

2023-04-04 00:00:00.000000
[*********************100%***********************]  1 of 1 completed
0 novas linhas importadas para o banco de dados.
[*********************100%***********************]  1 of 1 completed
Nova tabela criada para sigla GOOG com 315 linhas.
[*********************100%***********************]  1 of 1 completed
Nova tabela criada para sigla MMM com 315 linhas.
2023-04-04 00:00:00.000000
[*********************100%***********************]  1 of 1 completed
0 novas linhas importadas para o banco de dados.

<img width="50%" src="_imagens\Banco de Dados TEST_DB as ações do Yahoo Finance.png">